:root {
  --main-bg-color: #323234;
  --secondary-bg-color: #202528;
  --main-text-color: #dde2e5;
  --secondary-text-color: #a2a2a4;
}

body {
  background-color: var(--main-bg-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
